recursive-include src *
global-exclude *.pyc
global-exclude *.pyo
include README.rst
include CONTRIBUTORS.txt
include CHANGES.txt
include *.py
include buildout.cfg
recursive-include docs *.GPL
recursive-include docs *.txt
