graft src/aws
global-exclude *.pyc
global-exclude *.pyo

recursive-include jinja *
recursive-include docs *

include pyproject.toml
include .coveragerc
include mx.ini
include CHANGES.md
include CONTRIBUTORS.md
include README.md
include requirements.md

recursive-exclude news *

exclude tox.ini
exclude *.txt